# 该 QuantumultX 远程重写配置片段用于获取"快看漫画签到"账号Cookie
# 配置脚本后打开快看漫画(AppStore中国区)，点击"我的"可完成获取
# https://raw.githubusercontent.com/NobyDa/Script/master/QuantumultX/Snippet/KuaiKanCookie.snippet


^https:\/\/api\.kkmh\.com\/v\d\/passport\/user url script-request-header https://raw.githubusercontent.com/NobyDa/Script/master/KuaiKan-DailyBonus/KKMH.js

hostname = api.kkmh.com