# Disney+剧集页显示IMDb / 烂番茄 / 豆瓣评分
# https://raw.githubusercontent.com/NobyDa/Script/master/QuantumultX/DisneyRating.snippet


^https:\/\/disney\.api\.edge\.bamgrid\.com\/explore\/v\d\.\d\/page\/entity- url script-response-body https://raw.githubusercontent.com/NobyDa/Script/master/Disney/DisneyRating.js

hostname = disney.api.edge.bamgrid.com